.git
.github
site/
scripts/
node_modules/
**/*/node_modules
packages/**/*/build
**/*.eslintcache
.pnp.*
.yarn/
dist/

.DS_Store
**/*.DS_Store
**/*.env.local
**/*.env.development.local
**/*.env.test.local
**/*.env.production.local

.venv
venv
