# Project
site_name: NEON Data API
site_description: 'NEON Data API Documentation'
site_author: 'Battelle'
site_dir: site/data-api/
site_url: 'https://data.neonscience.org/data-api'
edit_uri: 'edit/main/docs/content'

docs_dir: 'docs/content'

# Repository
repo_name: 'NEONScience/neon-data-api'
repo_url: 'https://github.com/NEONScience/neon-data-api'

# Theme
theme:
  name: 'material'
  custom_dir: 'docs/theme/overrides'
  language: 'en-custom'
  include_sidebar: true
  favicon: 'assets/images/favicon.ico'
  icon:
    logo: 'neon/neonscience-logo-sm'
  palette:
    - scheme: default
      primary: 'white'
  features:
    - navigation.tabs
    - navigation.expand
    - navigation.instant
    - navigation.instant.progress
    - navigation.sections
    - navigation.top
    - navigation.footer
  font:
    text: 'Inter'
    code: 'Roboto Mono'

extra_javascript:
  - 'javascripts/explorer.js'
extra_css:
  - 'stylesheets/theme.neon.css'

# Nav items
nav:
  - Home: 'https://www.neonscience.org'
  - Data Portal: 'https://data.neonscience.org/data-products/explore'
  - NEON Data API:
    - 'About': index.md
    - 'REST API Explorer & Endpoints':
      - 'REST API Explorer': 'explorer/index.md'
      - 'Products': 'endpoints/products.md'
      - 'Sites': 'endpoints/sites.md'
      - 'Locations': 'endpoints/locations.md'
      - 'Data': 'endpoints/data.md'
      - 'Data Query': 'endpoints/data-query.md'
      - 'Releases': 'endpoints/releases.md'
      - 'Samples': 'endpoints/samples.md'
      - 'Taxonomy': 'endpoints/taxonomy.md'
      - 'Prototype Datasets': 'endpoints/prototype-datasets.md'
    - 'GraphQL API':
      - 'Overview': 'graphql/index.md'
      - 'GraphQL Explorer': 'graphql/explorer/index.md'
    - 'Usage':
      - 'Rate Limiting': 'rate-limiting.md'
      - 'Data Use and Policy': data-use-policy.md
  - Data Use and Policy: 'https://www.neonscience.org/data-samples/data-policies-citation'

plugins:
  - search
  - minify:
      minify_html: true
  - exclude:
      glob:
        - 'contributing/building.md'
        - 'explorer/index.local.md'
        - 'graphql/explorer/index.local.md'

markdown_extensions:
  - meta
  - admonition
  - footnotes
  - pymdownx.details
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - toc:
      permalink: true

# Copyright
copyright: 'Copyright &copy; 2020-{{COPYRIGHT_YEAR}} Battelle'

extra:
  manifest: 'assets/images/site.webmanifest'
  social:
    - icon: fontawesome/brands/facebook
      link: 'https://www.facebook.com/NEONScienceData'
    - icon: fontawesome/brands/github
      link: 'https://github.com/NEONScience'
    - icon: fontawesome/brands/twitter
      link: 'https://twitter.com/NEON_Sci'
    - icon: fontawesome/brands/linkedin
      link: 'https://www.linkedin.com/company/neon-science/'
    - icon: fontawesome/brands/youtube
      link: 'https://www.youtube.com/neonscience'
