:root {
  --md-accent-fg-color: #002c77;
}
.md-header[data-md-state=shadow] {
  /* box-shadow:
    0 0 0.2rem rgba(0,0,0,.1),
    0 0.2rem 0.4rem rgba(0,0,0,.2); */
  box-shadow:
    0px 1px 3px rgba(0,0,0,0.25),
    0px 1px 1px rgba(0,0,0,0.25) !important;
}
.md-header-nav__button.md-logo img,
.md-header-nav__button.md-logo svg {
  width: 125px;
  height: 46px;
}
nav.md-tabs {
  /* box-shadow:
    0 0 0.2rem rgba(0,0,0,.1),
    0 0.2rem 0.4rem rgba(0,0,0,.2); */
  box-shadow:
    0px 1px 3px rgba(0,0,0,0.25),
    0px 1px 1px rgba(0,0,0,0.25);
}
@media (max-width: 1219px) {
  header.md-header {
    /* box-shadow:
      0 0 0.2rem rgba(0,0,0,.1),
      0 0.2rem 0.4rem rgba(0,0,0,.2); */
    box-shadow:
      0px 1px 3px rgba(0,0,0,0.25),
      0px 1px 1px rgba(0,0,0,0.25) !important;
  }
  .md-header-nav__button.md-logo img,
  .md-header-nav__button.md-logo svg {
    width: 98px;
    height: 36px;
  }
  .md-header-nav__button.md-logo {
    display: block;
  }
  .md-nav__title .md-nav__button.md-logo img,
  .md-nav__title .md-nav__button.md-logo svg {
    width: 98px;
    height: 36px;
  }
}
@media screen and (min-width: 76.25em) {
  .md-nav--integrated .md-nav__link[for=__toc]~.md-nav {
    border-left: .05rem solid rgba(0, 0, 0, .25);
  }
}

.md-typeset h2 strong,
.md-typeset h3 strong {
  font-weight: 400;
}

iframe.swagger-docs {
  display: none;
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
  height: 100%;
}

iframe.graphiql-docs {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 800px;
  border: none;
  box-shadow:
    0 2px 1px -1px rgba(0,0,0,.2),
    0 1px 1px 0 rgba(0,0,0,.14),
    0 1px 3px 0 rgba(0,0,0,.12);
}

div.app-open-container {
  display: inline-flex;
  float: right;
  padding: 6px 15px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #002c77;
  color: #002c77;
}
div.app-open-container:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, .04) !important;
}
div.app-open-container a.app-open-link {
  display: inline-flex;
  color: #002c77 !important;
}
div.app-open-container a.app-open-link img.app-open-img {
  margin-left: 10px;
}
